<app-logout></app-logout>
<div class="container-fluid py-4">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100 shadow-sm border-0 hover-elevation">
          <img class="card-img-top img-fluid rounded-top" src="../../../../assets/1306571 (1).jpg" alt="Products">
          <div class="card-body d-flex flex-column">
            <h4 class="card-title fw-bold text-success">PRODUCTS</h4>
            <p class="card-text flex-grow-1">Product management simplifies the process of tracking products, ensuring accurate inventory control.</p>
            <a [routerLink]="['/allproducts']" class="btn btn-success btn-lg w-100 mt-3">
              <i class="bi bi-box me-2"></i>VIEW PRODUCTS
            </a>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100 shadow-sm border-0 hover-elevation">
          <img class="card-img-top img-fluid rounded-top" src="../../../../assets/grocery-order-basket-of-food-goods-from-online-vector-42842750.jpg" alt="Orders">
          <div class="card-body d-flex flex-column">
            <h4 class="card-title fw-bold text-success">ORDERS</h4>
            <p class="card-text flex-grow-1">Order management simplifies the process of tracking and fulfilling customer orders, ensuring timely delivery and accurate inventory control.</p>
            <a [routerLink]="['/adminorders']" class="btn btn-success btn-lg w-100 mt-3">
              <i class="bi bi-cart-check me-2"></i>VIEW ORDERS
            </a>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100 shadow-sm border-0 hover-elevation">
          <img class="card-img-top img-fluid rounded-top" src="../../../../assets/user-icon-vector.jpg" alt="Users">
          <div class="card-body d-flex flex-column">
            <h4 class="card-title fw-bold text-success">USERS</h4>
            <p class="card-text flex-grow-1">The Users dashboard provides a centralized location to manage personal information, security preferences, and notification settings.</p>
            <a [routerLink]="['/farmerinfo']" class="btn btn-success btn-lg w-100 mt-3">
              <i class="bi bi-person me-2"></i>VIEW ACCOUNT
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
