<div class="container">
    <section class="product-list">
        <h2>Product List</h2>
        <!-- <input type="text" id="search-bar" placeholder="Search products..."> -->
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Product Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <!-- <th>Actions</th> -->
                </tr>
            </thead>
            <tbody *ngFor=" let order of this.ProductDetails">
                <td> <img style="height: 100px;border: 1px solid black; width: 100px;" src="{{order.ImageURL}}" alt=""></td>

                <td>{{order.ProductName}}</td>
                <td>{{order.TotalQuantity}}Kg</td>
                <td>₹{{order.Price}}</td>
                <!-- <td>Actions</td> -->
            </tbody>
        </table>
    </section>
</div>